{% extends 'main/base.html' %}
{% block content %}


<div class="container">
  <form method="POST">
  {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Book Title</label>
      <input type="text" name="title"  class="form-control" id="exampleInputEmail1" value="{{book.title}}">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Book Author</label>
      <input type="text" name = "author"  class="form-control" id="author" value="{{book.author}}">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Book Description</label>
      <input type="text" name="desc"  class="form-control" id="desc" value="{{book.desc}}">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" name="category" class="form-control" id="category" value="{{book.category}}">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" name="price" id="price" value="{{book.price}}">
    </div>
    <div class="mb-3">
      <label for="rating" class="form-label">Initial Rating</label>
      <input type="number" max="5" class="form-control" name="rating" id="rating" value="{{book.rating}}">
    </div>
    <div class="mb-3">
      <label for="num" class="form-label">Number of books available</label>
      <input type="number" class="form-control" name="num" id="num" value="{{book.availability}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{% endblock content %}